.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/hero-bg.jpg') no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0c0c0b;
}
.hero-text p{
    max-width: 700px;
    font-size: 20px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

