.about{
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 55%;
}

.about-img{
    width: 400px;
    border-radius: 10px;
}
.play-btn{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.about h1{
    font-weight: 600;
    font-size: 16px;
    color: rgb(244, 137, 60);
}
.about h2{
    font-size: 36px;
    margin: 20px 0;
    color: rgb(235, 106, 32);
    max-width: 400px;
}
.about p{
    color: #555;
    max-width: 600px;
    margin-bottom: 15px;
}