.gallery{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery-item img{
    width: 23%;
    border-radius: 10px;
}
