.features{
    margin: 80px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature img{
    width: 350px;
    border-radius: 10px;
    display: block;
}

.feature{
    flex-basis: 31%;
    position: relative;
}



.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(216, 158, 21, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(18, 5, 5);
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s ease;
}

.feature:hover .caption{
    opacity: 1;
    padding-top: 0;
 
}