.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fa9a2b;
    padding: 15px 0;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}